USE [master]
GO
/****** Object:  Database [MasterDB]    Script Date: 25/11/2025 7:56:11 PM ******/
CREATE DATABASE [MasterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterDB', FILENAME = N'C:\Users\Matthew\source\repos\BIT34_StaAna_IntegProg_LabEquipmentSystem\LabEquipmentSystemForms\MasterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterDB_log', FILENAME = N'C:\Users\Matthew\source\repos\BIT34_StaAna_IntegProg_LabEquipmentSystem\LabEquipmentSystemForms\MasterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 25/11/2025 7:56:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Description] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentRequest]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentRequest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [uniqueidentifier] NOT NULL,
	[StudentID] [nvarchar](100) NOT NULL,
	[EquipmentID] [nvarchar](100) NOT NULL,
	[Quantity] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[HandledBy] [nvarchar](100) NULL,
	[ProcessDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentTransaction]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [uniqueidentifier] NOT NULL,
	[RequestID] [uniqueidentifier] NOT NULL,
	[StudentID] [nvarchar](100) NOT NULL,
	[Amount] [int] NULL,
	[TransactionType] [nvarchar](30) NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](30) NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[Course] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentInventory]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [uniqueidentifier] NOT NULL,
	[StudentID] [nvarchar](100) NOT NULL,
	[RequestID] [uniqueidentifier] NOT NULL,
	[EquipmentID] [nvarchar](100) NOT NULL,
	[BorrowedQuantity] [int] NOT NULL,
	[ReturnedQuantity] [int] NULL,
	[RemainingQuantity]  AS ([BorrowedQuantity]-[ReturnedQuantity]),
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [AdminID], [Password]) VALUES (1, N'Matthew', N'123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([ID], [EquipmentID], [Name], [Quantity], [Description]) VALUES (6, N'BRD', N'Bread Board', 50, N'Generic')
INSERT [dbo].[Equipment] ([ID], [EquipmentID], [Name], [Quantity], [Description]) VALUES (1, N'HDMI', N'HDMI', 20, N'5 meters')
INSERT [dbo].[Equipment] ([ID], [EquipmentID], [Name], [Quantity], [Description]) VALUES (3, N'LPTP', N'Laptop', 10, N'Macbook')
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentRequest] ON 

INSERT [dbo].[EquipmentRequest] ([ID], [RequestID], [StudentID], [EquipmentID], [Quantity], [RequestDate], [Status], [HandledBy], [ProcessDate]) VALUES (29, N'1a4af81d-f9f7-4d77-96be-1516b0a0adbf', N'2025-1', N'BRD', 10, CAST(N'2025-11-22T00:00:00.000' AS DateTime), N'APPROVED', N'Matthew', CAST(N'2025-11-25T19:14:11.727' AS DateTime))
INSERT [dbo].[EquipmentRequest] ([ID], [RequestID], [StudentID], [EquipmentID], [Quantity], [RequestDate], [Status], [HandledBy], [ProcessDate]) VALUES (30, N'4f5d0639-2a20-4d81-97e4-c5f96ff6ea57', N'2025-1', N'HDMI', 10, CAST(N'2025-11-25T00:00:00.000' AS DateTime), N'APPROVED', N'Matthew', CAST(N'2025-11-25T19:17:40.447' AS DateTime))
INSERT [dbo].[EquipmentRequest] ([ID], [RequestID], [StudentID], [EquipmentID], [Quantity], [RequestDate], [Status], [HandledBy], [ProcessDate]) VALUES (31, N'8ec35006-2e92-4b87-bf74-f3f7d58c4f33', N'2025-1', N'BRD', 10, CAST(N'2025-11-25T00:00:00.000' AS DateTime), N'DENIED', N'Matthew', CAST(N'2025-11-25T19:16:12.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[EquipmentRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[EquipmentRequest] ADD  DEFAULT (newid()) FOR [RequestID]
GO
ALTER TABLE [dbo].[EquipmentTransaction] ADD  DEFAULT (newid()) FOR [TransactionID]
GO
ALTER TABLE [dbo].[EquipmentTransaction] ADD  DEFAULT (newid()) FOR [RequestID]
GO
ALTER TABLE [dbo].[StudentInventory] ADD  DEFAULT (newid()) FOR [InventoryID]
GO
ALTER TABLE [dbo].[StudentInventory] ADD  DEFAULT ((0)) FOR [ReturnedQuantity]
GO
ALTER TABLE [dbo].[StudentInventory] ADD  DEFAULT ('OPEN') FOR [Status]
GO
ALTER TABLE [dbo].[EquipmentRequest]  WITH CHECK ADD  CONSTRAINT [FK_Handler_Admin] FOREIGN KEY([HandledBy])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[EquipmentRequest] CHECK CONSTRAINT [FK_Handler_Admin]
GO
ALTER TABLE [dbo].[EquipmentRequest]  WITH CHECK ADD  CONSTRAINT [FK_Requester_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[EquipmentRequest] CHECK CONSTRAINT [FK_Requester_Student]
GO
ALTER TABLE [dbo].[EquipmentRequest]  WITH CHECK ADD  CONSTRAINT [FK_Type_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[EquipmentRequest] CHECK CONSTRAINT [FK_Type_Equipment]
GO
ALTER TABLE [dbo].[EquipmentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_RequestReference_EquipmentRequest] FOREIGN KEY([RequestID])
REFERENCES [dbo].[EquipmentRequest] ([RequestID])
GO
ALTER TABLE [dbo].[EquipmentTransaction] CHECK CONSTRAINT [FK_RequestReference_EquipmentRequest]
GO
ALTER TABLE [dbo].[StudentInventory]  WITH CHECK ADD  CONSTRAINT [FK_StudentInventory_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[StudentInventory] CHECK CONSTRAINT [FK_StudentInventory_Equipment]
GO
ALTER TABLE [dbo].[StudentInventory]  WITH CHECK ADD  CONSTRAINT [FK_StudentInventory_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[EquipmentRequest] ([RequestID])
GO
ALTER TABLE [dbo].[StudentInventory] CHECK CONSTRAINT [FK_StudentInventory_Request]
GO
ALTER TABLE [dbo].[StudentInventory]  WITH CHECK ADD  CONSTRAINT [FK_StudentInventory_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentInventory] CHECK CONSTRAINT [FK_StudentInventory_Student]
GO
/****** Object:  StoredProcedure [dbo].[Admin_AddEquipment]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_AddEquipment]
	@EquipmentID	nvarchar(100),	
	@Name	nvarchar(50),	
	@Quantity	int,
	@Description	nvarchar(150)	

AS
	INSERT INTO Equipment (
		EquipmentID, 
		Name, 
		Quantity, 
		Description)
	VALUES (
		@EquipmentID,
		@Name,
		@Quantity,
		@Description)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_AddStudent]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_AddStudent]
	@StudentID	nvarchar(100),
	@Password	nvarchar(30),
	@ProfilePicture	varbinary(MAX),
	@FirstName	nvarchar(50),	
	@LastName	nvarchar(50),	
	@Gender	nvarchar(20),	
	@Course	nvarchar(20)	

AS
	INSERT INTO Student (
		StudentID,
		Password,
		ProfilePicture,
		FirstName,
		LastName,
		Gender,
		Course)
	VALUES (
		@StudentID,
		@Password,
		@ProfilePicture,
		@FirstName,
		@LastName,
		@Gender,
		@Course)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_EditEquipment]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_EditEquipment]
	@OldEquipmentID	nvarchar(100),	
	@OldName	nvarchar(50),	
	@OldQuantity	int,	
	@OldDescription	nvarchar(150),

	@NewEquipmentID	nvarchar(100),	
	@NewName	nvarchar(50),	
	@NewQuantity	int,	
	@NewDescription	nvarchar(150)

AS
	UPDATE Equipment
		SET
			EquipmentID = @NewEquipmentID,
			Name = @NewName,
			Quantity = @NewQuantity,
			Description = @NewDescription
		WHERE
			EquipmentID = @OldEquipmentID AND
			Name = @OldName AND
			Quantity = @OldQuantity AND
			Description = @OldDescription
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ProcessRequest]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ProcessRequest]
    @RequestID UNIQUEIDENTIFIER,
    @HandledBy NVARCHAR(100),
    @Action NVARCHAR(20),
	@ProcessDate	datetime	

AS
BEGIN
    SET NOCOUNT ON;

    -- Update based on action
    IF @Action = 'approve'
    BEGIN
        UPDATE EquipmentRequest
        SET 
            Status = 'APPROVED',
            HandledBy = @HandledBy,
			ProcessDate = @ProcessDate
        WHERE 
            RequestID = @RequestID;
    END
    ELSE IF @Action = 'deny'
    BEGIN
        UPDATE EquipmentRequest
        SET 
            Status = 'DENIED',
            HandledBy = @HandledBy,
			ProcessDate = @ProcessDate
        WHERE 
            RequestID = @RequestID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Admin_UpdateStudentPassword]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_UpdateStudentPassword]
	@StudentID	nvarchar(100),
	@NewPassword	nvarchar(30)

AS
	UPDATE Student
		SET Password = @NewPassword
		WHERE
			@StudentID = Student.StudentID
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewEquipment]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewEquipment]
	
AS
	SELECT * FROM Equipment
	ORDER BY
		EquipmentID ASC,
		Name ASC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewEquipmentRequests]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewEquipmentRequests]
	@Status	nvarchar(50) = NULL

AS
	SELECT *
	FROM EquipmentRequest
	WHERE
		@Status IS NULL 
		OR @Status = '' 
		OR Status = @Status
	ORDER BY
		RequestDate DESC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewEquipmentTransactions]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewEquipmentTransactions]
	@TransactionType	nvarchar(30) = NULL
AS
	SELECT * 
	FROM EquipmentTransaction
	WHERE
		@TransactionType IS NULL 
		OR @TransactionType = '' 
		OR TransactionType = @TransactionType
	ORDER BY
		TransactionDate DESC;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewStudents]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewStudents]
	
AS
	SELECT * FROM Student
	ORDER BY
		LastName ASC,
		FirstName ASC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Login_Admin]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login_Admin]
	@AdminID	nvarchar(100),	
	@Password	nvarchar(50)	

AS
	SELECT COUNT(AdminID)
	FROM Admin
	WHERE
		AdminID = @AdminID
		AND Password = @Password
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Login_Student]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login_Student]
	@StudentID	nvarchar(100),	
	@Password	nvarchar(30)	

AS
	SELECT COUNT(StudentID)
	FROM Student
	WHERE
		StudentID = @StudentID
		AND Password = @Password
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_GetNameById]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_GetNameById]
	@StudentID	nvarchar(100)	

AS
	SELECT
		ISNULL(FirstName, '') + ' ' + ISNULL(LastName, '') AS FullName
	FROM Student
	WHERE StudentID = @StudentID
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_RequestEquipment]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_RequestEquipment]
	@StudentID	nvarchar(100),	
	@EquipmentID	nvarchar(100),	
	@Quantity	int,
	@RequestDate	datetime,
	@Status	nvarchar(50)
AS
BEGIN
    DECLARE @AvailableStock INT;

	-- Check Equipment.Quantity based on @EquipmentID
    SELECT @AvailableStock = Quantity
    FROM Equipment
    WHERE EquipmentID = @EquipmentID;

    -- Check if EquipmentID is valid
    IF @AvailableStock IS NULL
    BEGIN
        RAISERROR('Error: The specified equipment ID is invalid.', 16, 1);
        RETURN 1;
    END

	-- Add the Stock Check
	IF @Quantity > @AvailableStock
	BEGIN
        RAISERROR('Error: Requested quantity (%d) exceeds available stock (%d).', 16, 1, @Quantity, @AvailableStock);
		RETURN 2;
	END

	-- If stock is sufficient, make request
	INSERT INTO [dbo].EquipmentRequest (
		StudentID,
        EquipmentID,
		Quantity,
		RequestDate,
		Status
	)
	VALUES (
		@StudentID,
		@EquipmentID,
		@Quantity,
		@RequestDate,
		@Status
	);
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_ViewMyEquipmentRequests]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_ViewMyEquipmentRequests]
    @StudentID nvarchar(100),
    @Status nvarchar(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM EquipmentRequest
    WHERE 
        StudentID = @StudentID
        AND (
            @Status IS NULL
            OR @Status = ''
            OR Status = @Status
        )
    ORDER BY RequestDate DESC;
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_ViewMyEquipmentTransactions]    Script Date: 25/11/2025 7:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_ViewMyEquipmentTransactions] 
	@StudentID	nvarchar(100),
	@TransactionType	nvarchar(30) = NULL

AS
	SET NOCOUNT ON;

	SELECT ET.*
	FROM
		EquipmentTransaction AS ET
	INNER JOIN
		EquipmentRequest AS ER
		ON ET.RequestID = ER.RequestID
	WHERE
		ER.StudentID = @StudentID
		AND (
			@TransactionType IS NULL
			OR @TransactionType = ''
			OR ET.TransactionType = @TransactionType
		)
	ORDER BY
		ET.TransactionDate DESC;
RETURN 0
GO
USE [master]
GO
